[tool.isort]
include_trailing_comma = true
multi_line_output = 3
profile = "black"
skip_glob = ["docs/*", "scvi/__init__.py"]

[tool.poetry]
authors = ["The scvi-tools development team <adamgayoso@berkeley.edu>"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Science/Research",
  "Natural Language :: English",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Operating System :: MacOS :: MacOS X",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: POSIX :: Linux",
  "Topic :: Scientific/Engineering :: Bio-Informatics",
]
description = "Deep probabilistic analysis of single-cell omics data."
documentation = "https://scvi-tools.org"
homepage = "https://github.com/scverse/scvi-tools"
license = "BSD-3-Clause"
name = "scvi-tools"
packages = [
  {include = "scvi"},
]
readme = "README.md"
version = "0.15.4"

[tool.poetry.dependencies]
anndata = ">=0.7.5"
black = {version = ">=22.1", optional = true}
codecov = {version = ">=2.0.8", optional = true}
docrep = ">=0.3.2"
flake8 = {version = ">=3.7.7", optional = true}
flax = "*"
furo = {version = ">=2022.2.14.1", optional = true}
h5py = ">=2.9.0"
importlib-metadata = {version = "^1.0", python = "<3.8"}
ipython = {version = ">=7.20", optional = true, python = ">=3.7"}
ipywidgets = "*"
isort = {version = ">=5.7", optional = true}
jax = ">=0.3"
jupyter = {version = ">=1.0", optional = true}
leidenalg = {version = "*", optional = true}
loompy = {version = ">=3.0.6", optional = true}
myst-parser = {version = "*", optional = true}
nbconvert = {version = ">=5.4.0", optional = true}
nbformat = {version = ">=4.4.0", optional = true}
nbsphinx = {version = "*", optional = true}
nbsphinx-link = {version = "*", optional = true}
numpy = ">=1.17.0"
numpyro = "*"
openpyxl = ">=3.0"
optax = "*"
pandas = ">=1.0"
pre-commit = {version = ">=2.7.1", optional = true}
pymde = {version = "*", optional = true}
pynndescent = {version = "*", optional = true}
pyro-ppl = ">=1.6.0"
pytest = {version = ">=4.4", optional = true}
python = ">=3.7,<4.0"
python-igraph = {version = "*", optional = true}
pytorch-lightning = "~1.5"
rich = ">=9.1.0"
scanpy = {version = ">=1.6", optional = true}
scanpydoc = {version = ">=0.5", optional = true}
scikit-learn = ">=0.21.2"
scikit-misc = {version = ">=0.1.3", optional = true}
sphinx = {version = ">=4.1,<4.4", optional = true}
sphinx-autodoc-typehints = {version = "*", optional = true}
sphinx-design = {version = "*", optional = true}
sphinx-gallery = {version = ">0.6", optional = true}
sphinx_copybutton = {version = "<=0.3.1", optional = true}
sphinx_remove_toctrees = {version = "*", optional = true}
sphinxext-opengraph = {version = "*", optional = true}
torch = ">=1.8.0"
torchmetrics = ">=0.6.0"
tqdm = ">=4.56.0"
typing_extensions = {version = "*", python = "<3.8", optional = true}
Jinja2 = {version = "<3.1.0", optional = true}

[tool.poetry.extras]
dev = ["black", "pytest", "flake8", "codecov", "scanpy", "loompy", "jupyter", "nbformat", "nbconvert", "pre-commit", "isort"]
docs = [
  "sphinx",
  "scanpydoc",
  "nbsphinx",
  "Jinja2", # https://github.com/spatialaudio/nbsphinx/issues/641#issuecomment-1078061858
  "nbsphinx-link",
  "ipython",
  "furo",
  "typing_extensions",
  "sphinx-autodoc-typehints",
  "sphinx_copybutton",
  "sphinx_gallery",
  "sphinx_remove_toctrees",
  "sphinx-design",
  "sphinxext-opengraph",
  "myst-parser",
]
pymde = ["pymde"]
tutorials = ["scanpy", "leidenalg", "python-igraph", "loompy", "scikit-misc", "pynndescent", "pymde"]

[tool.poetry.dev-dependencies]

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py37

[testenv]
deps = pytest
extras =
    dev
commands = pytest {posargs}
"""
[build-system]
build-backend = "poetry.masonry.api"
requires = [
  "poetry>=1.0",
  "setuptools", # keep it here or "pip install -e" would fail
]
