pip==18.1
flake8==3.7.7
coverage==4.5.1
Sphinx==1.7.1
pytest==3.7.4
pytest-runner==2.11.1
numpy==1.16.2
torch==1.0.1
matplotlib==3.0.3
scikit-learn==0.20.3
scipy==1.2.1
h5py==2.9.0
codecov==2.0.8
pandas==0.24.2
loompy==2.0.16
tqdm==4.31.1
anndata==0.6.18
xlrd==1.2.0
nbconvert==5.4.0
nbformat==4.4.0
jupyter==1.0.0
ipython==7.1.1
umap-learn==0.3.8
seaborn==0.9.0
leidenalg==0.7.0
numba==0.45.0
python-igraph==0.7.1.post6
scanpy==1.4
louvain==0.6.1
hyperopt==0.1.2
black==19.3b0
colour==0.1.5
