pip==10.0.1
flake8==3.5.0
coverage==4.5.1
Sphinx==1.7.1
pytest==3.4.2
pytest-runner==2.11.1
numpy==1.14.0
torch==0.4
matplotlib==2.2.2
scikit-learn==0.19.1
scipy==1.0.0
h5py==2.8.0
codecov==2.0.8
pandas==0.23.0
loompy==2.0.9
tqdm==4.23.4
