/*
  Furo CSS variables
  https://github.com/pradyunsg/furo/blob/main/src/furo/assets/styles/variables/_index.scss
  https://github.com/pradyunsg/furo/blob/main/src/furo/theme/partials/_head_css_variables.html
https://github.com/streamlink/streamlink/blob/17a4088c38709123c0bcab4a150549bd16d19e07/docs/_static/styles/custom.css
*/

dt:target, span.highlighted {
    background-color: #f0f0f0;
}

dl.citation > dt {
    float: left;
    margin-right: 15px;
    font-weight: bold;
}

/* Parameters normalize size and captialized, */
dl .field-list dt {
    font-size: var(--font-size--normal) !important;
    text-transform: none !important;
}

/* examples and headings in classes */
p.rubric {
    font-size: var(--font-size--normal);
    text-transform: none;
    font-weight: 500;
}


  /* adapted from https://github.com/dask/dask-sphinx-theme/blob/main/dask_sphinx_theme/static/css/nbsphinx.css */

.nbinput .prompt,
.nboutput .prompt {
      display: none;
}
.nboutput .stderr{
      display: none;
}

div.nblast.container {
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 0.5rem !important;
}

div.nbinput.container div.input_area div[class*="highlight"] > pre {
    padding: 10px !important;
    margin: 0;
}

p.topic-title {
  margin-top: 0;
}




/* Main index page overview cards */
/* https://github.com/pandas-dev/pandas/blob/059c8bac51e47d6eaaa3e36d6a293a22312925e6/doc/source/_static/css/pandas.css */
/* with custom changes */
.intro-card {
    background: inherit;
    border-radius: 0;
    padding: 30px 10px 20px 10px;
    margin: 10px 0px;
  }

  .intro-card p.card-text {
    margin: 0px;
  }

  .intro-card .card-img-top {
    height: 52px;
  }

  .intro-card .card-header {
    border: none;
    background-color:inherit;
    font-size: var(--pst-font-size-h5);
    font-weight: bold;
    padding: 2.5rem 0rem 0.5rem 0rem;
  }

  .intro-card .card-footer {
    border: none;
    background-color:inherit;
  }

  .intro-card .card-footer p.card-text{
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-card .btn-secondary {
      background-color: #484848;
      /* border-color: #dcdcdc; */
  }
