.hidden {
    display: none;
}

.filter-btn {
    pointer-events: auto;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--pst-color-border);
    color: var(--pst-color-base);
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    background-color: var(--pst-color-background);
}

.filter-btn:hover {
    color: var(--pst-color-table-row-hover);
    border-color: var(--pst-color-table-row-hover);
}

.filter-btn.selected {
    background-color: var(--pst-color-on-background);
}

.filter-menu {
    display: flex;
    row-gap: 5px;
    column-gap: 10px;
}

.card a {
    text-decoration: none;
}

.card {
    border-radius: 20px;
    border: 1px solid var(--pst-color-border);
    transition: all 0.3s ease-in-out;
    background-color: var(--pst-color-background);
}

.card:hover {
    border-color: var(--pst-color-secondary);
    background-color: var(--pst-color-on-background);
    color: var(--pst-color-text-base)
}

.card-title-container {
    color: var(--pst-color-text-base);
}

.card-description {
    color: var(--pst-color-text-muted);
}

.model-group-name {
    color: var(--pst-color-text-base);
}
