.tutorial-row {
    transition: background-color 0.3s;
}
.highlight {
    background-color: yellow !important;
}
.category-buttons {
    margin-bottom: 10px;
}
.category-button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}
.category-button:hover {
    background-color: #0056b3;
}
