/*
  Furo CSS variables
  https://github.com/pradyunsg/furo/blob/main/src/furo/assets/styles/variables/_index.scss
  https://github.com/pradyunsg/furo/blob/main/src/furo/theme/partials/_head_css_variables.html
https://github.com/streamlink/streamlink/blob/17a4088c38709123c0bcab4a150549bd16d19e07/docs/_static/styles/custom.css
*/

:root {
    /* misc */
    --sidebar-width: 18em;
    --content-width: 65em;
    --admonition-font-size: var(--font-size--small);
    --admonition-title-font-size: var(--font-size--normal);
  }


dl.citation > dt {
    float: left;
    margin-right: 15px;
    font-weight: bold;
}

/* Parameters normalize size and captialized, */
dl.c .field-list dt, dl.cpp .field-list dt, dl.js .field-list dt, dl.py .field-list dt {
    font-size: var(--font-size--normal);
    text-transform: none;
}

/* examples and headings in classes */
p.rubric {
    font-size: var(--font-size--normal);
    text-transform: none;
}
