dl.citation > dt {
    float: left;
    margin-right: 15px;
    font-weight: bold;
}

dl.c .field-list dt, dl.cpp .field-list dt, dl.js .field-list dt, dl.py .field-list dt {
    font-size: var(--font-size--normal);
    text-transform: none;
}

p.rubric {
    font-size: var(--font-size--normal);
    text-transform: none;
}
