name: test (nonJax)

on:
  push:
    branches: [main, "[0-9]+.[0-9]+.x"]
  pull_request:
  schedule:
    - cron: "0 10 * * *" # runs at 10:00 UTC (03:00 PST) every day
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    # if PR has label "nonjax" or if scheduled or manually triggered
    if: >-
      (
        contains(github.event.pull_request.labels.*.name, 'nonJAX') ||
        contains(github.event.pull_request.labels.*.name, 'all tests') ||
        contains(github.event_name, 'schedule') ||
        contains(github.event_name, 'workflow_dispatch')
      ) && github.repository == 'scverse/scvi-tools'

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -e {0} # -e to fail on error

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: ["3.13"]

    name: integration

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
          cache-dependency-path: "**/pyproject.toml"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel uv
          python -m uv pip install --system "pytest"
          python -m uv pip install --system "pytest-pretty"
          python -m uv pip install --system "coverage"
          python -m uv pip install --system "igraph"
          python -m uv pip install --system "leidenalg"
          python -m uv pip install --system "scvi-tools[autotune,hub,mlflow,file_sharing,regseq,parallel,interpretability] @ ."

      - name: Run pytest
        env:
          MPLBACKEND: agg
          PLATFORM: ${{ matrix.os }}
          DISPLAY: :42
          COLUMNS: 120
        run: |
          coverage run -m pytest -v --color=yes --ignore=tests/model/test_jaxscvi.py --ignore=tests/external/mrvi_jax/test_jaxmrvi_components.py --ignore=tests/external/tangram/test_tangram.py
          coverage report

      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
