# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: scvi-tools

on:
  push:
    branches: [master]
  pull_request:
    branches: [master, pytorch_lit]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      uses: actions/cache@v2
      with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        pip install pytest-cov
        pip install --quiet .[dev]
    - name: Lint with flake8
      run: |
        flake8
    - name: Format with black
      run: |
        black --check .
    - name: Test with pytest
      run: |
        pytest --cov-report=xml --cov=scvi --internet-tests
    - name: After success
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
      run: |
        codecov
        pip list
        bash <(curl -Ls https://coverage.codacy.com/get.sh) report -l Python -r coverage.xml
